<html>
    <head>
    </head>
    <body>
        Vamos somar!
        <form method="post" action="/saudar">
            <input type="text" name="n1">
            <br><input type="submit" value="Somar">
        </form>
    </body>
</html>
